
<div class="grid-container">
    <app-nabvar class="grid-menu"></app-nabvar>
    <div class="row clearfix" style="margin-right: 0px;">
        <div>
            <div class="card">
                <div class="body" style="padding:10px;"> 
                    <app-alumnos class="grid-alumnos"></app-alumnos>  
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-2,2">
            <div class="col-md-12 col-sm-12">
                <!--<app-form-alumnos class="grid-form-alumnos"></app-form-alumnos>-->
            </div>
        </div>
    </div>
    <app-toolbar class="grid-header"></app-toolbar>
    <app-productos class="grid-productos"></app-productos>
</div>

