<div class="Formulario">
  <div>
    <h1>Formulario Alumnos</h1>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="formularioUsuario" class="row g-3">
      <div class="col-md-6">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese el Nombre"
          formControlName="nombre">
        <p *ngIf="formularioUsuario.get('nombre')?.touched && formularioUsuario.get('nombre')?.errors?.['required']">
          Debe ingresar un Nombre</p>
      </div>
      <div class="col-md-6">
        <label for="inputApellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputApellido" placeholder="Ingrese el Apellido"
          formControlName="apellidos">
        <p
          *ngIf="formularioUsuario.get('apellidos')?.touched && formularioUsuario.get('apellidos')?.errors?.['required']">
          Debe ingresar un Apellido</p>
      </div>
      <div class="col-md-6">
        <label for="inputEdad" class="form-label">Edad</label>
        <input type="text" class="form-control" id="inputEdad" placeholder="Ingrese la edad" formControlName="edad">
        <p *ngIf="formularioUsuario.get('edad')?.touched && formularioUsuario.get('edad')?.errors?.['required']">Debe
          ingresar una Edad</p>
      </div>
      <div class="col-md-6">
        <label for="inputTelefono" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="inputTelefono" placeholder="Ingrese el Telefono"
          formControlName="telefone">
        <p
          *ngIf="formularioUsuario.get('telefone')?.touched && formularioUsuario.get('telefone')?.errors?.['required']">
          Debe ingresar un Telefono</p>
      </div>
      <div class="col-12">
        <label for="inputDireccion" class="form-label">Direccion</label>
        <input type="text" class="form-control" id="inputDireccion" placeholder="18 de Julio..."
          formControlName="direccion">
      </div>
      <div class="col-md-6">
        <label for="inputCiudad" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCiudad" placeholder="Montevideo..." formControlName="ciudad">
      </div>
      <div class="col-md-4">
        <label for="inputBarrio" class="form-label">Barrio</label>
        <select id="inputBarrio" class="form-select" formControlName="barrio">
          <option selected>Sin Definir</option>
          <option>Centro</option>
          <option>Cordon</option>
          <option>Parque Rodo</option>
          <option>Pocitos</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Nro Puerta</label>
        <input type="text" class="form-control" id="inputZip" formControlName="nroPuerta">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" (click)="confirmar()">Confirmar</button>
      </div>
    </form>
  </div>
</div>